{
	"printWidth": 120,
	"semi": false,
	"singleQuote": false,
	"tabWidth": 2,
	"arrowParens": "avoid",
	"endOfLine": "crlf",
	"proseWrap": "always",
	"bracketSpacing": true,
	"useTabs": true,
	"explicitTypes": "always"
}
